form
{
    width: 500px;
    padding: 30px;
    border-radius: 25px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0 0 15px rgba(0, 0, 0, 0.22);

}
form h2
{
    background: #4D4D4D;
    color : #C1FBF9;
    border-radius: 25px 25px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

form input
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
form input[type="radio"]{
    width : auto;
    display: inline-block;
}
form label
{
    color : #767676;

}
form input[type="submit"],
button
{
    border-radius: 25px;
    width: 100%;
    padding: 3%;
    background: #444;
    color: #C1FBF9;
}
span {
    color : red;
}
.inscription{
    color : #767676;
    text-align: center;
}